<div id="questions_list">
  <div class="row">
    <div class="col-md-12">
      <h3>Top questions this week:</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <ul class="list-unstyled">
        <%= render @questions %>
      </ul>
    </div>
    <div class="col-md-3 right">
      <% if current_user %>
        <%= link_to "Ask a Question", new_question_path %>
      <% else %>
        <p>Login to contribute</p>
      <% end %>
    </div>
  </div>
</div>
