li {
  margin-top: 1em;
}

ul {
  margin-left: 2em;
}

.center {
  text-align: center;
}

.inline {
  display: inline-block;
}

.right {
  text-align: right;
}

.submit {
  margin-top: 2em;
}

#new-post {
  margin-top: 1em;
}
