<% if object.errors.any? %>
<div class="well">
  <h5>Please fix the following errors:</h5>
  <ul>
    <% object.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
